In [2]:
#pandas is a library and it contains the functions related to the data analysis
import pandas as pd

In [4]:
dataset=pd.read_csv("Salary_Data.csv") #dataset is called used to read and assigned the dataset variable

In [5]:
dataset #Run the dataset

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [6]:
independent=dataset[["YearsExperience"]]#independent is split the input
independent

In [9]:
dependent=dataset[["Salary"]] #dependent is split the output
dependent

      Salary
0    39343.0
1    46205.0
2    37731.0
3    43525.0
4    39891.0
5    56642.0
6    60150.0
7    54445.0
8    64445.0
9    57189.0
10   63218.0
11   55794.0
12   56957.0
13   57081.0
14   61111.0
15   67938.0
16   66029.0
17   83088.0
18   81363.0
19   93940.0
20   91738.0
21   98273.0
22  101302.0
23  113812.0
24  109431.0
25  105582.0
26  116969.0
27  112635.0
28  122391.0
29  121872.0

In [11]:
from sklearn.model_selection import train_test_split #It is model selection and split train and test 
X_train,X_test,y_train,y_test=train_test_split(independent, dependent, test_size=0.30,random_state=0) # it is called particular function to 
# assigned perameter input and ouput passing to the variable

In [12]:
from sklearn.linear_model import LinearRegression # model creation to use linear algorithm 
regressor=LinearRegression() #it is non parameter Assigned the variable this two line is proceducer and regressor is store the algorithm
regressor.fit(X_train,y_train) # refressor.fit is traing set input and ouput. it is subtitue orocessor

LinearRegression()

In [14]:
weight=regressor.coef_ #check the wight. regressor is all model save the variable.
weight

array([[9360.26128619]])

In [15]:
bais=regressor.intercept_ # check the bais
bais

array([26777.3913412])

In [16]:
y_pred=regressor.predict(X_test)  # The check evaluation metrics. y_pred is variable, regressor is model creation, predict is 
# application function name and (x-test) is input data passing in evalation matrics.

In [17]:
from sklearn.metrics import r2_score       # R2 value check
r_score=r2_score(y_test,y_pred)   # It is r_score varible name and r2_score to assigned Actual data and pred data check

In [18]:
r_score # run the r_score. r2 value is 1 it is good model to learning processing is goood

0.9740993407213511

In [19]:
import pickle   # file name save 
filename="finalized_model_linear.sav" # The file name is assiged to the variable

In [20]:
pickle.dump(regressor,open(filename,'wb')) # The model save to file name and wb is (write binary)

In [23]:
loaded_model=pickle.load(open("finalized_model_linear.sav",'rb')) # the save and loaded model (real time result check)
result=loaded_model.predict([[13]]) # rsult variable to assigned the load model predict

C:\Anaconda3\lib\site-packages\sklearn\base.py:442: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

In [24]:
result # to run the result variable

array([[148460.78806172]])