In [1]:
for num in range(0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [3]:
for num in range(10,20):
    print(num,end=' ')

10 11 12 13 14 15 16 17 18 19

In [5]:
Lists=[10,20,14,55,43,87,76]
print(Lists)
print("Number of item in the line2:",(len)(Lists))

[10, 20, 14, 55, 43, 87, 76]
Number of item in the line2: 7

In [1]:
Lists = ["Artifical Intelligence"]
for x in Lists:
    print(x)
for y in "Artifical Intelligence":
    print(y)

Artifical Intelligence
A
r
t
i
f
i
c
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [3]:
print("-your name-")
print("-your age-")
print("-your profession-")

-your name-
-your age-
-your profession-

In [5]:
tup = (1, 'welcome', 2, 'Hope')
print(tup)

(1, 'welcome', 2, 'Hope')

In [9]:
tup1 = (0,1,2,3)
tup2 = ('python', 'Hope')
tup3 = (tup1,tup2)
print(tup3)

((0, 1, 2, 3), ('python', 'Hope'))

In [35]:
tup1 = (20,10,16,19,25,1,276,188)
print(tup1)
for x in tup1:
    if(x%2==1):
        print(x,"odd number")

(20, 10, 16, 19, 25, 1, 276, 188)
19 odd number
25 odd number
1 odd number

In [37]:
tup1 = (20,10,16,19,25,1,276,188)
print(tup1)
for x in tup1:
    if(x%2==0):
        print(x,"Even number")

(20, 10, 16, 19, 25, 1, 276, 188)
20 Even number
10 Even number
16 Even number
276 Even number
188 Even number