In [1]:
#1.Find the error in the following Python code:
#import math
#print (Math.sqrt(16))
import math
print (math.sqrt(16))

4.0

In [2]:
#2.Find the error in the following Python code:
#def my_function():
  #  x += 5
#print(x)

#x = 10

#my_function()

def my_function():
    x = 5
    print(x)

x = 10

my_function()

5

In [3]:
#3.x = 5
#if x == 10:
#   print("x is 10")

if x == 10:
    print("x is 10")

x is 10

In [4]:
#4.
#numbers = [5, 3, 8, 2]
#print(numbers.sort())
      
numbers = [5, 3, 8, 2]
numbers.sort()
print(numbers)

[2, 3, 5, 8]

In [5]:
#5.
#def square(n):
 #   x= n ** n
#print(square(4))

def square(n):
    x= n ** n
    return x
print(square(4))

256

In [6]:
#6.
#my_tuple = (1, 2, 3)
#my_tuple[1] = 5
#6.
my_tuple = (1, 2, 3)
print(my_tuple[1])

2

In [7]:
#7.
#name = "Alice"
#age = 25
#print("My name is %s and I am %d years old" % (name))
#7.
name = "Alice"
age = 25
print("My name is:",(name))
print("I am", age ,"years old")

My name is: Alice
I am 25 years old

In [25]:
#8.
#a = [1, 2, 3]
#b = [1, 2, 3]
#if a is b:
#   print("Lists are equal")
    
a = [1, 2, 3]
b = [1, 2, 3]
c = a+b
print(c)

[1, 2, 3, 1, 2, 3]

In [71]:
#9.
#for i in range(5, 1):
#   print(i)
#9.

for i in range(5):
    print(i)

0
1
2
3
4

In [81]:
#10.
#student = {"name": "John", "age": 20}
#print(student[name])
#10.
student = {"name": "John", "age": 20}
print(student)

{'name': 'John', 'age': 20}